<ion-menu [content]="content">
<ion-content>
        <ion-list-header>
   
                 <div class="image-content" style="margin-top: 15px;">
                  <img src="https://img.clipartfest.com/6e64a4f961e27a821feb8071da9fe0a4_female-user-icon-clip-art-clipart-user-icon_300-300.png" style="border-color: black; height:110px;width:110px;border-radius: 50%;">
                 </div>
        
                 <div class="user-name" style="font-size:2.2rem;margin-top:10px;">
                     Ankita Gupta
                </div>
            
  <!--<ion-item>
    <ion-avatar item-left>
      <img src="./assets/images/Profile.png">
    </ion-avatar>
    <h2>Prem Das</h2>
    <p>M1039269</p>
    <p>Prem.Kumar2@mindtree.com</p>
  </ion-item>-->

       </ion-list-header>
       
       <ion-list>
           <button menuClose ion-item (click)="openAcknowledgement()"> 
             <ion-row>
                    <ion-col width-10><ion-icon name="ribbon"></ion-icon></ion-col>
                     <ion-col width-90>Acknowledgement</ion-col> 
             </ion-row>
             </button>
              <button menuClose ion-item (click)="openWishList()">
           <ion-row>    
                  <ion-col width-10><ion-icon name="heart-outline"></ion-icon></ion-col>
                  <ion-col width-90> Wish List</ion-col>
         </ion-row>
          </button>
         <button menuClose ion-item (click)="openHelp()"> 
         <ion-row>
                    <ion-col width-10> <ion-icon name="help-circle"></ion-icon></ion-col>
                     <ion-col width-90>Help</ion-col>
             </ion-row>
                    </button>
             
         <button menuClose ion-item (click)="logOut()"> 
           <ion-row>
                   <ion-col width-10><ion-icon name="log-out"></ion-icon></ion-col>
                   <ion-col width-80>Logout</ion-col>
           </ion-row>
             </button>        
     </ion-list>
   
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
