page-books-returned {
    .title {
        margin-left: 60px;
    }
    .toolbar-title-md {
        color: white;
    }
    .back-button-icon-md {
        color: white;
    }
    .toolbar-title-md {
        margin-left: -60px;
    }
    .scroll-content {
        margin-top: 100px;
    }
}