page-roles {
.toolbar-title-md{
    color:white;
}
.toolbar-background-md{
    background:#424242;
}
.toolbar-md-secondary .toolbar-background-md{
    background: #9E9E9E;
}

 .toolbar-md-secondary .bar-button-default-md{
     margin:-1px;
 }
 .toolbar-md-secondary .toolbar-title-md{
     margin:-6px;
 }
 img{
     height:100px;
     width:100px;
 }

// .toolbar .toolbar-md .toolbar-md{
//     background-color:#9E9E9E; 
// }
// .toolbar toolbar-md toolbar-md-secondary{
//     background: #9E9E9E;
// }
}

