 page-transfer-admin {
     .title {
         margin-left: 60px;
     }
     .toolbar-title-md {
         color: white;
     }
     .toolbar-background-md {
         background: #424242;
     }
     .toolbar-md-secondary .toolbar-background-md {
         background-color: #9E9E9E;
     }
     .toolbar-md-secondary .bar-button-default-md {
         margin: -1px;
     }
     .toolbar-md-secondary .toolbar-title-md {
         margin: -6px;
     }
     .button1 {
         font-size: 20px;
     }
     .abc {
         background-color: lightgray;
     }
     .save .button-md {
         background-color: #E67E22;
     }
     .cancel .button-md {
         background-color: #C0392B;
     }
 }