 .headerColor .toolbar-title .toolbar-title-md{
color: white;
    }
    .toolbar-background{
background-color: #bc2323;
    }
    .toolbar-title-md{
        color:white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:white;
    }
    .ion-md-flower:before{
        color:white;
    }