page-help {
   .headerColor .toolbar-title .toolbar-title-md{
color: white;
    }
    .toolbar-background{
background-color: #bc2323;
    }
    .toolbar-title-md{
        color:white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:white;
    }
   .slideImg{
    width:51%;
    height:60%;
}
.userManualPage{
    // height:105%;
    line-height: 140%;
}
.swiper-pagination-bullet-active{
background-color: #bc2323;
    
}
}
