page-home {
    background: #D3D3D3;
    .headerColor .toolbar-title .toolbar-title-md {
        color: white;
    }
    .toolbar-background {
        background-color: #424242;
    }
    .toolbar-title-md {
        color: white;
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: white;
    }
}