.tabs-md .tab-button-icon{
    font-size:3.25rem;
}

.tabs-md[tabsLayout=icon-hide] .tab-button, .tabs-md[tabsLayout=title-hide] .tab-button, .tabs-md .tab-button.icon-only, .tabs-md .tab-button.has-title-only{
    background-color: #B22222;
}
// .tabs-md .tab-button[aria-selected=true]{
//     color:white;
// }
.ion-md-home:before{
    color:white;
}
.ion-md-search:before{
     color:white;
}
.ion-md-notifications:before{
    color:white;
}
.ion-md-help:before{
    color:white;

}
.ion-md-book:before{
    color:white;
}