 .headerColor .toolbar-title .toolbar-title-md{
color: white;
    }
    .toolbar-background{
background-color: #bc2323;
    }
    .toolbar-title-md{
        color:white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color:white;
    }
    .cardContent{
    font-size: 12pt;
    font-weight: 500;
   
}
.acknowledgementTitles {
    font-family: "roboto";
    font-size: 16pt;
    color: #2980b9;
    text-align: center;
}

.acknowledgement {
    // font-family: "Berlin Sans FB";
        margin-top: 7%;
         font-family: "roboto";
            height: 95%;
}
.divText {
    padding: 2%;
    text-align: center;
    font-family: "catamaran";
    font-size: 12pt;
}
.headingAck {
    /*background-color: ;*/
    color: #2980b9;
    font-size: 18pt;
    font-family: 'catamaran';
    text-align: center;
}
.cardContent{
    font-size: 12pt;
    font-weight: 500;
   
}
.displayActors{
    display:inline;
}
.bookImg{
    height: 16vh;
width: initial;
}